html {
    box-sizing: border-box; 
    padding: 0;
    margin: 0;  
      
}
  
*, *:before, *:after {
    box-sizing: inherit; 
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

table {
    border-collapse: collapse;
    border-spacing: 0; 
}

body {
    margin: 0;
    padding: 0;
   /*   background-color: #0a192f; */
     background: linear-gradient(to left top, rgba(14, 16, 27, 0.99) 10%, rgba(21, 23, 39, 0.99) 50%, rgba(14, 16, 27, 0.99));
}

h1, h2, h3, h4, h5, h6, p {
    margin-top:0;
}

#tsparticles {
    width: 100%;
    height: 100%;
}

.particles{
    position:absolute !important;
    z-index: -2;
}

