.footer-wrapper {
    height: 120px;
    margin-top: 100px;
    text-align: center;
    font-family: 'Source Sans Pro';

    @media (min-width: 775px) {
        height: 50px;
    }

    .contact-icons {     
        display: block;
        padding-top: 20px;
   
        a{
            font-size: 28px;
            margin: 20px;
            text-decoration: none;
           /*  color: rgb(129, 129, 129); */
             color: rgb(100, 255, 218); 
        }

        @media (min-width: 775px) {
            display: none;
        }

    }

    p {
        color: rgb(129, 129, 129);
        margin: 0;
        padding: 10px;
    }
}


@media (min-width: 905px) {
    .footer-wrapper {
        margin-top: 0;
    }
}