.footer-wrapper {
    height: 120px;
    text-align: center;
    font-family: 'Source Sans Pro';

    @media (min-width: 775px) {
        height: auto;
    }

    .contact-icons {     
        display: block;
        padding-top: 20px;
        a {
            font-size: 32px;
            margin: 20px;
            text-decoration: none;
             color: #fff;

             &:hover {
                color: #64ffdb;
                transform: translateY(-33px);
            }     
             
        }
  


        @media (min-width: 775px) {
            display: none;
        }

    }

    p {
        color: rgb(129, 129, 129);
        margin: 0;
        padding: 30px 10px 10px 10px;
        font-weight: 300;

    }
}


@media (min-width: 905px) {
    .footer-wrapper {
        margin-top: 0;
    }
}