.works-showcase {
    display: flex;
    align-items: center;
    position: relative;
    height: auto;

    
    .section-01 {  
        
        margin-top: 150px;
        padding-right: 10px;
        padding-left: 10px;
        position: relative;

        .works-title {
            color: $off-white;
            font-size: 24px;
            font-weight: 600;
            max-width: 600px;
            margin: 70px 0 40px; 
            height: 31px;  
            overflow: hidden;
        }

        span {
            color: rgb(100, 255, 218);
        }

        .works-title:after {
            content: "";
            display: block;
            height: 1px;
            width: 100%;
            position: relative;
            background-color: rgb(187, 193, 206);
            top: -10px;     
            right: -285px; 
            overflow: hidden;

        }

        h5 {
            color: white;

            a {
                text-decoration: none;
                color: white;

                &:hover {
                    color: rgb(100, 255, 218);
                }
            }        
        
        }    
    

    /* ======= Project Cards ======== */

    .project-wrapper {    

        position: relative;
        margin-top: 60px;

        /* ----- Capstone Card ------ */
        .capstone-container{
            position: relative;

            .capstone-thumbnail {
                width: 100%;
                margin: 0 auto;
                mix-blend-mode: screen;
                position: relative;
                
            .capstone-feature   {
                    border-radius: 3px;  
                    position: inherit !important; 
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 50vh;
                    object-fit: cover;
                    object-position: center center;
    
                }        

            }

            .capstone-info {      
                /* ----- Project Title ---- */
                .featured-title {
                    display: block;
                    position: absolute;
                    top: 0;
                    color: $off-white;
                    text-align: right;
                    right: 0;
                    margin: 20px 30px;
                }

                h4 {
                    margin-bottom: 10px;
                    font-size: 13px;
                    color: rgb(100, 255, 218);
                }

                h5 {
                    font-size: 23px;
                }

                /* --- Project Description --- */

                .capstone-description {
                    display: block;
                    position: absolute;
                    top: 50px;
                /*  color: rgb(168, 178, 209); */
                    color: white;
                    font-size: 16px;
                    text-align: right;
                    margin: 50px 30px;
                    font-family: 'Source Sans Pro';
                    font-weight: 300;
                }

                /* --- Project Technologies --- */
                .capstone-tools {
                    display: block;
                    position: absolute;
                    bottom: 20px;
                    right: 0;
                    color: white;
                    margin-right: 20px;

                    .capstone-tech,
                    .featured-links {
                        font-size: 30px;
                    }

                    .capstone-tech {
                        font-size: 40px;
                    }

                    .capstone-tech {
                        text-align: right;    
                        i {
                            margin-left: 20px;
                        }
                    }

                    .featured-links {         
                        text-align: right;
                        margin-top: 50px;
                        a {
                            text-decoration: none;
                            color: white;
                            padding-left: 20px;
                        }
                    }
                }

            }
            .capstone-overlay {
                background-color: rgba(11, 71, 57, 0.637);
                height: 100%;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                

            }
        }

        /* -------- Swift Card -------- */

        .swift-container{
            position: relative;            

            .project-thumbnail {
                width: 100%;
                margin: 0 auto;
                mix-blend-mode: screen;
                position: relative;
                
            .swift-feature   {
                    border-radius: 3px;  
                    position: inherit !important; 
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 50vh;
                    object-fit: cover;
                    object-position: center center;
                }        

            }

            .swift-info {                      
                
                /* --- Project Title --- */
                .featured-title {
                    display: block;
                    position: absolute;
                    top: 0;
                    color: $off-white;
                    text-align: right;
                    right: 0;
                    margin: 20px 30px;
                }

                h4 {
                    margin-bottom: 10px;
                    font-size: 13px;
                    color: rgb(100, 255, 218);
                }

                h5 {
                    font-size: 23px;
                }

                /* --- Project Description --- */

                .swift-description {
                    display: block;
                    position: absolute;
                    top: 50px;
                /*  color: rgb(168, 178, 209); */
                    color: white;
                    font-size: 16px;
                    text-align: right;
                    margin: 50px 30px;
                    font-family: 'Source Sans Pro';
                    font-weight: 300;
                }

                /* --- Project Technologies --- */

                .swift-tools {
                    display: block;
                    position: absolute;
                    bottom: 26px;
                    right: 0;
                    color: white;

                    .featured-links {
                        font-size: 30px;
                    }

                    .swift-tech {
                        font-size: 40px;
                    }

                    .swift-tech {
                        margin-top: 50px;
                        margin-bottom: 25px;
                        text-align: right;      
                        
                        i {
                            margin-right: 10px;
                        }
                    }

                    .featured-links {
                        text-align: right;    
                        margin-top: 50px;                
                        margin-right: 20px;
                        a {
                            text-decoration: none;
                            color: white;
                            padding-left: 20px;
                        }
                    }
                }

            }
            .swift-overlay {
                background-color: rgba(40, 87, 76, 0.637);
                height: 100%;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;

            }
        }

        
    }
        /* --------- Portfolio Card ---------- */

        .portfolio-container {
            position: relative;
            margin-top: 100px;
            margin-bottom: 100px;

            .port-thumbnail {
                width: 100%;
                margin: 0 auto;
                mix-blend-mode: screen;
                position: relative;
                
            .port-feature   {
                    border-radius: 3px;  
                    position: inherit !important; 
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 50vh;
                    object-fit: cover;
                    object-position: center center;
    
                }        

            }

            .port-info {                      
            /* --- Project Title --- */           
        
                .featured-title {
                    display: block;
                    position: absolute;
                    top: 0;
                    color: $off-white;
                    text-align: left;
                    left: 0;
                    margin: 20px 30px;
                }

                h4 {
                    margin-bottom: 10px;
                    font-size: 13px;
                    color: rgb(100, 255, 218);
                }

                h5 {
                    font-size: 23px;
                }

                /* --- Project Description --- */

                .port-description {
                    display: block;
                    position: absolute;
                    top: 50px;
                /*  color: rgb(168, 178, 209); */
                    color: white;
                    font-size: 16px;
                    text-align: left;
                    margin: 50px 30px;
                    font-family: 'Source Sans Pro';
                    font-weight: 300;
                }

                /* --- Project Technologies --- */

                .port-tools {
                    display: block;
                    position: absolute;
                    bottom: 26px;
                    left: 0;
                    color: white;
                    margin-left: 20px;

                    .port-tech,
                    .featured-links {
                        font-size: 30px;
                    }

                    .port-tech {
                        font-size: 40px;
                    }

                    .port-tech {
                    
                        text-align: left;

                        i {
                            margin-right: 20px;
                        }
                    }

                    .featured-links {
                        margin-top: 50px;                

                        a {
                            text-decoration: none;
                            color: white;
                            padding-right: 20px;
                        }
                }
            }

            }
            .port-overlay {
                background-color: rgba(40, 87, 76, 0.637);
                height: 100%;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;

            }
    }
}
    /*------- Side Contact ------ */

    .fixed-contact {
        position: fixed;
        top: 70%;
        right: -60px;
        transform: rotate(90deg);
        font-weight: 700;
        font-size: 15px;
        color: $off-white;
        letter-spacing: 1.5px;
        z-index: 8;
    

        &:after {
            content: "";
            display: block;
            position: absolute;
            height: 155px;
            width: 1px;
            transform: rotate(90deg);
            background-color: rgb(187, 193, 206);
            right: -100px;
            bottom: -67px;
        }
    }
    .fixed-contact {
        display: none;
    }

    /*------- Side Social Media ------ */

    .fixed-social {
        position: fixed;
        display: flex;
        flex-direction: column;
        top: 70%;
        left: -3px;
        font-weight: 700;
        font-size: 25px;
        color: $off-white;
        letter-spacing: 1.5px;
        z-index: 8;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            margin-left: 20px;
            a {            
                color: white;
            }
      
        }
        
        .social-media:after {
            content: "";
            display: block;
            position: absolute;
            height: 180px;
            width: 1px;
            transform: rotate(-180deg);            
            background-color: rgb(187, 193, 206);
            right: 11px;
            bottom: -200px;
        }           
    }

    .fixed-social {
        display: none;
    }

}

/* ======== # Media Queries ========= */

 @media (min-width: 610px) {

    .works-showcase {
        .container {
            width: 100%;
            .section-01 { 
                        
                .works-title {          
                }
                .project-wrapper {
                    margin-left: 50px;
                    margin-right: 50px;

                /* ---- Capstone Card ----  */
                .capstone-container {
                    margin-bottom: 90px;        
                    position: relative;                

                    .capstone-thumbnail {
                        /* width: 300px; */
                        width: 60%;
                        display: block;
                        margin: 0;                   

                        .capstone-feature {
                            height: 55vh;    
                            cursor: pointer;

                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }

                    .featured-title {
                        margin: 0;
                    }

                    .capstone-description {
                        background-color: rgb(23, 42, 69);
                        padding: 17px;
                        margin-right: 0;
                        max-width: 50%;
                        border-radius: 3px;
                        position: absolute;
                        right: 0;        
                        font-size: 16px !important;
                    }

                    .capstone-tools {
                        bottom: 0 !important;                    

                        .capstone-tech {
                            display: block;

                            margin-bottom: -20px;
                            margin-right: 0;

                            i {
                                text-align: right;
                                margin-left: 15px;                       
                                font-size: 35px;
                                
                            }

                        .featured-links {
                            margin-right: 10px;
                        }

                        .capstone-overlay {
                            cursor: pointer;
                        }
                        .capstone-overlay:hover {
                            cursor: pointer;
                            opacity: 0;
                        }

                    }
                }
            }

                /* ---- Swift Card ----  */
                .swift-container {         
                    position: relative;

                    .project-thumbnail {
                        width: 60%;
                        display: block;
                        margin: 0;
                        

                        .swift-feature {
                            height: 55vh;
                            cursor: pointer;

                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }

                    .swift-description{
                        background-color: rgb(23, 42, 69);
                        padding: 17px;
                        max-width: 50%;
                        position: absolute;
                        right: 0;
                        border-radius: 3px;                   
                    }

                    .swift-tools{
                        bottom: 0 !important;
                        margin-right: 20px;
                    }

                    .swift-tech {
                        display: block;
                        margin-bottom: 70px;
                        margin-bottom: -20px !important;

                        i {
                        text-align: right;
                        margin-left: 15px;
                        font-size: 35px;                     
                        }
                    }

                    .swift-overlay {
                        cursor: pointer;
                    }
                    .swift-overlay:hover {
                        cursor: pointer;
                        opacity: 0;
                    }

                }

                /* ---- Portfolio Card ----  */
                .portfolio-container {               
                    margin-bottom: 110px;
                    margin-left: 0;    

                    .port-thumbnail {
                        width: 60%;               
                        margin-right: 0;                                    

                        .port-feature {
                            height: 55vh;
                            cursor: pointer;

                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }

                    .port-info {
                        .featured-title {
                            margin-left: 0;
                        }
                    }

                    .port-description {
                        background-color: rgb(23, 42, 69);
                        padding: 17px;
                        margin-top: 50px;
                        margin-right: 50%;
                        font-size: 16px;
                        border-radius: 3px;
                        margin-left: 0;
                    }

                    .port-tools {
                        bottom: 0 !important;
                        margin-left: 0;
                        
                        .port-tech {
                            display: block;
                            margin-bottom: 35px;
        
                            i {
                            text-align: left;
                            margin-right: 15px;
                            font-size: 35px;
                            }
                        }

                        .featured-links {
                            margin: 0;
                        }
                    }                

                    .port-overlay {
                        cursor: pointer;
                    }
                    .port-overlay:hover {
                        cursor: pointer;
                        opacity: 0;
                    }
                }
                
            }   
        }
    }
    }

} 

@media (min-width: 775px) {
    .works-showcase{
        .section-01{
            .works-title {                
            }
            .project-wrapper {
                /* --- Capstone Card ---- */
                .capstone-container {
                    .capstone-description{
                        padding: 25px;
                    }
                }

                /* --- Swift Card --- */

                .swift-container {     
                     

                    .project-thumbnail {
                        width: 400px;

                        .swift-feature {
                        }
                        
                    }

                    .swift-info {
                        .featured-title {                      
                        }                    

                    .swift-description {
                        padding: 25px;
                    }

                    .swift-tech {  
                    }
                    .featured-links {
                        margin-top: -35px;
                    }
                    
                }
            }

            /* ---- Portfolio Card ----- */
                .portfolio-container {
                    .port-thumbnail {                        
                        width: 400px;

                        .port-feature {                            
                        }
                    }

                    .port-description {
                        padding: 25px;
                        .featured-links {
                            margin-top: 0;
                        }
                    }
                }
            }
        }
    }

    .works-showcase{      
        .fixed-contact {
            display: block;
        }        
        .fixed-social {
            display: block;
        }        
    }

}

@media (min-width: 905px) {
    .works-showcase {
        .container {
            width: 1150px;
        .section-01 {
            padding: 0;

            .works-title {
                margin-left: 0;
            }

            .project-wrapper {
                margin-top: 90px;
                margin-right: 0;
                margin-left: 0;
                margin-bottom: 50px;

                /* --- Capstone Card --- */
                .capstone-container {
                    
                    .capstone-thumbnail {
                        /* width: 575px; */
                        width: 60%;

                        .capstone-feature {                            
                            height: 400px;
                        }
                    }

                    .capstone-description {
                        margin-top: 70px !important;
                    }

                    
                    .capstone-tools {
                       bottom: 6px !important;
                    }
                }

                 /* --- Portfolio Card --- */

                .portfolio-container {
                    .port-thumbnail {
                        width: 60%;
                        .port-feature {
                            height: 400px;
                        }
                    }

                    .port-info {
                        .featured-title {
                            margin-left: 0;
                        }
                    }

                    .port-description {
                        margin-left: 0;
                        margin-top: 70px;
                        padding: 22px;
                        margin-right: 50%;                      
                    }

                    .port-tools {
                        bottom: 6px !important;
                    }
                }

                /* --- Swift Card --- */
                .swift-container{                   
                    .project-thumbnail {
                        width: 60%;

                        .swift-feature {
                           height: 400px;
                       }                       
                    }

                    .swift-description {
                        right: 0;
                        margin-top: 90px !important;
                        p {
                         
                            margin-left: 50%;
                        }
                    }
                }

              
            }
        }
    }
}
}

@media (min-width: 1080px) {
    .works-showcase {   
        .section-01 { 
            
            .works-title {
               
            }
            .project-wrapper {   
 
                margin: 0 auto;
                /* --- Capstone Card --- */
                .capstone-container {                    
                    .capstone-thumbnail {    
                        .capstone-feature {
                        }
                    }

                    .featured-title {
                        margin-bottom: 0;

                        h5 {
                            margin-bottom: 0;
                        }
                    }               
                }

                 /* --- Portfolio Card --- */

                .portfolio-container {
                }

                /* --- Swift Card --- */
                .swift-container{                   
                }

              
            }
        }
    }
}
