.works-showcase {
    font-family: 'Source Sans Pro';
    display: flex;
    align-items: center;
    position: relative;
    height: auto;
    overflow:hidden;
    scroll-behavior: smooth;

    .container {
        margin: 0 auto;
        height: 100%;
        width: 100%;

        @media(min-width: 775px) {
            width: 700px; 
       }

        @media (min-width: 905px) {
            margin-left: 70px;
            margin-right: 70px;
            width: 1150px;
        }

        
        @media(min-width: 1280px) {
            width: 1150px;
            margin-left: 75px;
            margin-right: 75px;
            margin: 0 auto;
        }
    
    .section-01 {  
        
        display: block;  
        margin: 0 auto;
        margin-top: 90px; 
        margin-right: 40px;
        margin-left: 40px;
        padding-top: 50px;

        
        @media (min-width: 610px) {
            margin-top: 90px; 
            padding-top: 50px;
        }

        @media (min-width: 905px) {
            margin-top: 90px; 
            padding-top: 50px;
        }

        .works-title {
            color: $off-white;
            font-weight: 600;
            max-width: 600px;
            height: 31px;  
            overflow: hidden;

            @media (min-width: 905px) {
                margin-left: 0;
            }
        }

        span {
            color: #63CDD7; 
            margin-right: 15px;
        }

        .works-title:after {
            content: "";
            display: block;
            height: 1px;
            width: 100%;
            position: relative;
            background-color: #bbc1ce;
            top: -10px;     
            right: -150px; 
            overflow: hidden;

        }

        h5 {
            color: rgb(203, 215, 247);

            a {
                text-decoration: none;
                color: rgb(177, 187, 216);

                &:hover {
                    color: #64ffda;
                }
            }        
        
        }    
    

    /* ======= Project Cards ======== */

    .project-wrapper {    

        position: relative;        
        margin-top: 60px;


        @media (min-width: 905px) {
            margin-top: 90px;
            margin-right: 0;
            margin-left: 0;
            margin-bottom: 50px;
        }

        @media (min-width: 1080px) {
            margin: 0 auto;
        }


        /* ==== Codium Card ==== */

        .capstone-container{
            position: relative;
            margin-top: 100px;
            margin-bottom: 150px;
            

            .capstone-thumbnail {
                width: 100%;
                margin: 0 auto;
                mix-blend-mode: screen;
                position: relative;
                box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

                @media (min-width: 610px)  {
                    width: 60%;
                    display: block;
                    margin: 0;     
                    cursor: pointer;   
                    transition: 300ms;

                    &:hover {
                        transition-duration: 0.9s;
                        transition: all 0.5s ease-in-out;
                        transform: scale(1.02);
                        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
                    }
                }

                @media (min-width: 905px) {
                    width: 60%;
                }
                
            .capstone-feature   {
                    border-radius: 5px;  
                    position: inherit !important; 
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 60vh;
                    object-fit: cover;
                    object-position: center center;   
             
                    
                    @media (min-width: 905px) {
                        height: 400px;
                    }
                }        

            }


            /* ==== Project Titles ==== */
            .capstone-info {         
                .featured-title {
                    display: block;
                    position: absolute;
                    top: 0;
                    color: $off-white;
                    text-align: right;
                    right: 0;
                    margin: 20px 30px;


                    a {
                        text-decoration: none;                      
                    }

                    @media (min-width: 610px) {
                        margin: 0;     
                                         
                    }

                    @media (min-width: 1080px) {
                        margin-bottom: 0;
                    }
                }

                h4 {
                    margin-top: 20px;
                    margin-bottom: 15px;
                    font-size: 13px;
                    font-weight: 500;
                    color: rgb(100, 255, 218);
                }

                h5 {
                    font-size: 23px;

                    &:hover {
                        color: rgb(100, 255, 218);
                    }

                    @media (min-width: 1080px) {                         
                        margin-bottom: 0;
                    }
                }


                /* ==== Project Description ==== */
                .capstone-description {
                    display: block;
                    position: absolute;
                    top: 80px;
                    color: white;
                    font-size: 16px;
                    text-align: right;
                    margin: 50px 30px;
                    font-family: 'Source Sans Pro';
                    font-weight: 300;

                    @media (min-width: 610px) {
                        background-color: rgb(30, 44, 90);
                        padding: 17px;
                        margin-right: 0;
                        max-width: 50%;
                        border-radius: 5px;
                        position: absolute;
                        right: 0;        
                        font-size: 16px !important;
                        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
                    }

                    @media (min-width: 775px) {
                        padding: 25px;
                    }

                    @media (min-width: 905px) {
                        margin-top: 70px !important;
                    }
                }
                

                /* ==== View Details btn ==== */
                .details-btn{
                   display: block;
                    position: absolute;
                    text-align: center;
                    bottom: 20px;
                    right: 0;
                    font-size: 14px;
                    color: white;
                    border: 1px solid  rgb(173, 173, 173);
                    border-radius: 4px; 
                    padding: 9px 20px; 
                    cursor: pointer;
                    text-decoration: none;                
                    margin-right: 30px;

                    @media (min-width: 610px) {
                        margin-right: 0;
                    }

                    &:hover {
                        color: rgb(100, 255, 218);
                    }

                    &:before { 
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        display: block;
                        width: 100%;
                        height: 100%;
                        z-index: -1;
                        background-color: #000;
                        transform: scaleX(.3);
                        opacity: 0;
                        transition: all .3s;
                        
                    }

                    &:hover::before {
                        opacity: 1;
                        background-color:#64ffdb31;
                        transform: scaleX(1);
                        transition: transform .6s cubic-bezier(.08, .35, .13, 1.02), opacity;
                    }    
                }

            }
            .capstone-overlay {
                background-color: rgba(2, 35, 56, 0.637);
                height: 100%;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;    

                @media (min-width: 610px) {
                    background-color:  #0092b731;

                    &:hover{
                        cursor: pointer;
                        opacity: 0;
                        transition-duration: 0.5s;
                        transition: all 0.2s ease-in-out;
                        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
                    }
                }
            }
        }

        /* ==== Swift Card ===== */

        .swift-container{
            margin-top: 80px;
            position: relative;       
            
            @media (min-width: 610px) {
                margin-top: 70px;     
                margin-bottom: 70px;  
            }

            .project-thumbnail {
                width: 100%;
                margin: 0 auto;
                mix-blend-mode: screen;
                position: relative;
                box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
                
                @media (min-width: 610px) {
                    width: 60%;
                    display: block;
                    margin: 0;
                    transition: 300ms;

                    &:hover {
                        transition-duration: 0.9s;
                        transition: all 0.5s ease-in-out;
                        transform: scale(1.02);
                        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
                    }
                }

                @media (min-width: 775px) {
                    width: 400px;
                }

                @media (min-width: 905px) {
                    width: 60%;
                }

            .swift-feature   {
                    border-radius: 5px;  
                    position: inherit !important; 
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 60vh;
                    object-fit: cover;
                    object-position: center center;

                    @media (min-width: 610px) {                       
                        height: 55vh;
                        cursor: pointer;

                        &:hover {
                            cursor: pointer;
                        }                        
                    }

                    @media (min-width: 905px) {
                        height: 400px;
                    }
                }        
            }


             /* ==== Project Title ==== */
            .swift-info {                           
                .featured-title {
                    display: block;
                    position: absolute;
                    top: 0;
                    color: $off-white;
                    text-align: right;
                    right: 0;
                    margin: 20px 30px;
                    margin-right: 30px;
                    
                    a {
                        text-decoration: none;
                    }
                }

                h4 {
                    margin-top: 20px;
                    margin-bottom: 15px;
                    font-size: 13px;
                    font-weight: 500;
                    color: rgb(100, 255, 218);
                }

                h5 {                    
                    font-size: 23px;
                    
                    &:hover {
                        color: rgb(100, 255, 218);
                    }
                }


                /* ==== Project Description ==== */
                .swift-description {
                    display: block;
                    position: absolute;
                    top: 80px;
                    color: white;
                    font-size: 16px;
                    text-align: right;
                    right: 0;
                    margin: 50px 30px;                   
                    font-family: 'Source Sans Pro';
                    font-weight: 300;

                    @media (min-width: 610px) {
                        background-color: rgb(30, 44, 90);
                        padding: 17px;
                        max-width: 40%;
                        position: absolute;
                        right: 0;
                        border-radius: 5px;  
                    }

                    @media (min-width: 775px) {
                        padding: 25px;
                    }

                    @media (min-width: 905px) {
                        right: 0;
                        margin-top: 90px !important;

                        p {                         
                            margin-left: 50%;
                        }
                    }
                    
                }

                /* ==== View Details btn ==== */
                .details-btn{
                    display: block;
                     position: absolute;
                     text-align: center;
                     bottom: 20px;
                     right: 0;
                     font-size: 14px;
                     border: 1px solid rgb(173, 173, 173); 
                     border-radius: 4px; 
                     padding: 9px 20px; 
                     cursor: pointer;
                     text-decoration: none;
                     color: white;
                     margin-right: 30px;

                     &:hover {
                        color: rgb(100, 255, 218);
                    }
 
                     &:before { 
                         content: "";
                         position: absolute;
                         top: 0;
                         left: 0;
                         display: block;
                         width: 100%;
                         height: 100%;
                         z-index: -1;
                         background-color: #000;
                         transform: scaleX(.3);
                         opacity: 0;
                         transition: all .3s
                     }
 
                     &:hover::before {
                         opacity: 1;
                         background-color:#64ffdb31;
                         transform: scaleX(1);
                         transition: transform .6s cubic-bezier(.08, .35, .13, 1.02), opacity
                     }    
 
                     a {
                         text-decoration: none;
                         color: white;   
                         line-height: 20px;                        
                     }                    
                 }

            }
            .swift-overlay {
                background-color: rgba(1, 24, 37, 0.897);
                height: 100%;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
      
                @media (min-width: 610px) {
                    cursor: pointer;
                    background-color:  #0092b731;

                    &:hover {                        
                        opacity: 0;
                        cursor: pointer;
                        opacity: 0;
                        transition-duration: 0.5s;
                        transition: all 0.2s ease-in-out;
                        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
                    }
                }

            }
        }        
    }



        /* ==== Portfolio Card ===== */

        .portfolio-container {
            position: relative;
            margin-bottom: 150px;

            @media (min-width: 610px) {
                margin-left: 0;    
            }

            .port-thumbnail {
                width: 100%;
                margin: 0 auto;
                mix-blend-mode: screen;
                position: relative;
                box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
                
                @media (min-width: 610px) {
                    width: 60%;               
                    margin-right: 0;     
                    
                    &:hover {
                        transition-duration: 0.9s;
                        transition: all 0.5s ease-in-out;
                        transform: scale(1.02);
                        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
                    }
                }

                @media (min-width: 775px) {
                    width: 400px;
                }

                @media (min-width: 905px) {
                    width: 65%;
                }

            .port-feature   {
                    border-radius: 5px;  
                    position: inherit !important; 
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 60vh;
                    object-fit: cover;
                    object-position: center center;

                    @media (min-width: 610px) {
                        height: 55vh;
                        cursor: pointer;

                        &:hover {
                            cursor: pointer;
                        }
                    }       
                    
                    @media (min-width: 905px) {
                        height: 400px;
                    }
    
                }        

            }


        /* ==== Project Title ==== */ 
            .port-info {                    
                .featured-title {
                    display: block;
                    position: absolute;
                    top: 0;
                    color: $off-white;
                    text-align: left;
                    left: 0;
                    margin: 20px 30px;

                    a {
                        text-decoration: none;
                    }

                    @media (min-width: 610px) {
                        margin-left: 0;
                    }

                    @media (min-width: 905px) {
                        margin-left: 0;
                    }
                }

                h4 {
                    margin-top: 20px;
                    margin-bottom: 15px;
                    font-size: 13px;
                    font-weight: 500;
                    color: rgb(100, 255, 218);
                }

                h5 {
                    font-size: 23px;

                    &:hover {
                        color: rgb(100, 255, 218);
                    }
                }


                /* ==== Project Description ==== */
                .port-description {
                    display: block;
                    position: absolute;
                    top: 80px;
                    color: white;
                    font-size: 16px;
                    text-align: left;
                    margin: 50px 30px;
                    font-family: 'Source Sans Pro';
                    font-weight: 300;

                    @media (min-width: 610px)  {
                        background-color: rgb(30, 44, 90);
                        padding: 17px;
                        margin-top: 50px;
                        max-width: 50%;
                        font-size: 16px;
                        border-radius: 5px;
                        margin-left: 0;
                    }

                    @media (min-width: 775px) {
                        padding: 25px;
                    }

                    @media (min-width: 905px) {
                        margin-left: 0;
                        margin-top: 70px;
                        padding: 22px;
                        margin-right: 50%;      
                    }
                }


                /* ==== View Details Btn ==== */
                .details-btn{
                    display: block;
                     position: absolute;
                     text-align: center;
                     bottom: 20px;
                     left: 0;
                     font-size: 14px;
                     border: 1px solid rgb(173, 173, 173); 
                     border-radius: 4px; 
                     padding: 9px 20px; 
                     cursor: pointer;
                     text-decoration: none;
                     color: white;
                     margin-left: 30px;

                     @media (min-width: 610px) {
                        margin-left: 0;
                    }

                    &:hover {
                        color: rgb(100, 255, 218);
                    }
 
                     &:before { 
                         content: "";
                         position: absolute;
                         top: 0;
                         left: 0;
                         display: block;
                         width: 100%;
                         height: 100%;
                         z-index: -1;
                         background-color: #000;
                         transform: scaleX(.3);
                         opacity: 0;
                         transition: all .3s;
                     }
 
                     &:hover::before {
                         opacity: 1;
                         background-color:#64ffdb31;
                         transform: scaleX(1);
                         transition: transform .6s cubic-bezier(.08, .35, .13, 1.02), opacity;
                     }    
 
                     a {
                         text-decoration: none;
                         color: white;   
                         line-height: 20px;                        
                     }                    
                 }

            }
            .port-overlay {
                background-color: rgba(2, 35, 56, 0.637);
                height: 100%;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
             

                @media (min-width: 610px) {
                    cursor: pointer;
                     background-color:  #0092b731;

                    &:hover{
                        cursor: pointer;
                        opacity: 0;
                        transition-duration: 0.5s;
                        transition: all 0.2s ease-in-out;
                        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
                    }
                }
            }
        }/* ==== End Portfolio Card ==== */
        

           /* ==== Movie App Card ===== */

           .movieApp-container {
            position: relative;
            margin-top: 70px;
            margin-bottom: 170px;

            @media (min-width: 610px) {
                margin-left: 0;    
            }

            .movieApp-thumbnail {
                width: 100%;
                margin: 0 auto;
                mix-blend-mode: screen;
                position: relative;
                box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
                
                @media (min-width: 610px) {
                    width: 60%;               
                    margin-right: 0;     
                    
                    &:hover {
                        transition-duration: 0.9s;
                        transition: all 0.5s ease-in-out;
                        transform: scale(1.02);
                        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
                    }
                }

                @media (min-width: 775px) {
                    width: 400px;
                }

                @media (min-width: 905px) {
                    width: 65%;
                }

            .movieApp-feature   {
                    border-radius: 5px;  
                    position: inherit !important; 
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 60vh;
                    object-fit: cover;
                    object-position: center center;

                    @media (min-width: 610px) {
                        height: 55vh;
                        cursor: pointer;

                        &:hover {
                            cursor: pointer;
                        }
                    }       
                    
                    @media (min-width: 905px) {
                        height: 400px;
                    }
    
                }        

            }


        /* ==== Project Title ==== */ 
            .movieApp-info {                    
                .featured-title {
                    display: block;
                    position: absolute;
                    top: 0;
                    color: $off-white;
                    text-align: left;
                    left: 0;
                    margin: 20px 30px;

                    a {
                        text-decoration: none;
                    }

                    @media (min-width: 610px) {
                        margin-left: 0;
                    }

                    @media (min-width: 905px) {
                        margin-left: 0;
                    }
                }

                h4 {
                    margin-top: 20px;
                    margin-bottom: 15px;
                    font-size: 13px;
                    font-weight: 500;
                    color: rgb(100, 255, 218);
                }

                h5 {
                    font-size: 23px;

                    &:hover {
                        color: rgb(100, 255, 218);
                    }
                }


                /* ==== Project Description ==== */
                .movieApp-description {
                    display: block;
                    position: absolute;
                    top: 80px;
                    color: white;
                    font-size: 16px;
                    text-align: left;
                    margin: 50px 30px;
                    font-family: 'Source Sans Pro';
                    font-weight: 300;

                    @media (min-width: 610px)  {
                        background-color: rgb(30, 44, 90);
                        padding: 17px;
                        margin-top: 50px;
                        max-width: 50%;
                        font-size: 16px;
                        border-radius: 5px;
                        margin-left: 0;
                    }

                    @media (min-width: 775px) {
                        padding: 25px;
                    }

                    @media (min-width: 905px) {
                        margin-left: 0;
                        margin-top: 70px;
                        padding: 22px;
                        margin-right: 50%;      
                    }
                }


                /* ==== View Details Btn ==== */
                .details-btn{
                    display: block;
                     position: absolute;
                     text-align: center;
                     bottom: 20px;
                     left: 0;
                     font-size: 14px;
                     border: 1px solid rgb(173, 173, 173); 
                     border-radius: 4px; 
                     padding: 9px 20px; 
                     cursor: pointer;
                     text-decoration: none;
                     color: white;
                     margin-left: 30px;

                     @media (min-width: 610px) {
                        margin-left: 0;
                    }

                    &:hover {
                        color: rgb(100, 255, 218);
                    }
 
                     &:before { 
                         content: "";
                         position: absolute;
                         top: 0;
                         left: 0;
                         display: block;
                         width: 100%;
                         height: 100%;
                         z-index: -1;
                         background-color: #000;
                         transform: scaleX(.3);
                         opacity: 0;
                         transition: all .3s;
                     }
 
                     &:hover::before {
                         opacity: 1;
                         background-color:#64ffdb31;
                         transform: scaleX(1);
                         transition: transform .6s cubic-bezier(.08, .35, .13, 1.02), opacity;
                     }    
 
                     a {
                         text-decoration: none;
                         color: white;   
                         line-height: 20px;                        
                     }                    
                 }

            }
            .movieApp-overlay {
                background-color: rgba(2, 35, 56, 0.637);
                height: 100%;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
             

                @media (min-width: 610px) {
                    cursor: pointer;
                     background-color:  #0092b731;

                    &:hover{
                        cursor: pointer;
                        opacity: 0;
                        transition-duration: 0.5s;
                        transition: all 0.2s ease-in-out;
                        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
                    }
                }
            }
        }/* ==== End Movie App Card ==== */
    }
}
   
    /* ==== Side Social Media ==== */

    .fixed-social {
        position: fixed;
        display: flex;
        flex-direction: column;
        top: 60%;
        left: -3px;
        font-weight: 700;
        font-size: 26px;
        color: $off-white;
        letter-spacing: 1.5px;
        z-index: 8;
        

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            margin-left: 20px;
            
            a {          
                color: #fff;  
                    &:hover {
                        color: #64ffdb;

                    }            
            }      

            li {
                margin-bottom: 30px;

                &:hover {
                    color: #64ffdb;
                    transform: translateY(-3px);
                }
            }
        }
        
        .social-media:after {
            content: "";
            display: block;
            position: absolute;
            height: 280px;
            width: 1px;
            transform: rotate(-180deg);            
            background-color: rgb(187, 193, 206);
            right: 11px;
            bottom: -285px;
        }           
    }

    .fixed-social {
        display: none;

        @media (min-width: 775px) {
            display: block;            
        }
    }

}


