.project-intro-container {
    height: auto;
    display: block;
    margin: 150px 0 70px 0;
    width: 100%;
    

    img {
        padding: 0;
        margin: 0;
        margin: 0 auto;
    }

    cite, p {
        padding: 0;
        margin: 0;
    }


    cite {
        color: #253150;
        font-size: 10px;
        display: block;
        margin: 0 auto;
        width: 50%;
    }

    .cta-links {
        width: 50%;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        height: auto;
        margin-top: 50px;
        
        .box-1 {
            font-size: 33px;
        }

        .box-2 {
            font-size: 40px;
        }

        a{        
           text-decoration: none;
           color: #e3e3e3;
        }
    }   

   
}



.project-description {
    color: #e3e3e3;
}

.dev-process {
    margin: 0 auto;
    
    .case-study__video{
        width: 100%;
    }
    video {
        width: 550px;
    }
}



@media(min-width: 740px) {

    .project-intro-container {     
        img {
            width: 868px;
            
        }
    }
    .dev-process {
        width: 768px; 

        video {
            width: 750px;
        }
    }
}