header {
    height: 80px;
    width: 100%;
    top: 0;
    z-index: 10;
    font-family: 'Source Sans Pro';
    font-weight: lighter;
    scroll-behavior: smooth;
    
    .inner-header {
        display:  flex;
        align-items: center;
        justify-content: space-between;
        min-height: 100px;
        max-width: 1950px;
        margin: 0 auto;
        
        .logo {
            margin: 15px 0 0 15px;
            a {
                text-decoration: none;
                letter-spacing: 1.5px;
                color: $off-white;
            }
        }
        

        .navbar {
            top: 0;
            right: 0;
            z-index: 4;

            .nav-list {              

                ul {
                    display: flex;
                    list-style: none;
                    margin-top: 30px;

                    span {
                        color: #63CDD7;
                        margin-right: 15px;  
                        margin-top: 15px;              
                    }                    

                    li {
                        color: rgb(177, 187, 216);
                        width: 100%;
                        margin-right: 70px;
                        font-size: 16px; 

                        &:hover {
                            color: rgb(100, 255, 218);
                        }               
                    }

                    a {                        
                        text-decoration: none;   
                    }
                }
               
            }
        }
    }
}