header {
    height: 80px;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 10;


    .inner-header {
        display:  flex;
        align-items: center;
        justify-content: space-between;
        height: 80px;


        .logo {
            padding: 20px;
            a {
                text-decoration: none;
                letter-spacing: 1.5px;
                color: $off-white;
            }
        }

        .navigation {
            nav {
                span {
                    margin-right: 5px;
                }
                a{
                    color: $off-white;
                    margin: 0 10px;
                    text-decoration: none;
                    letter-spacing: 1.5px;
                }
            }
        }
       
    }
}